.nxf-product-details-top {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.nxf-product-details-top img {
  width: 220px;
}

.nxf-product-details-bottom {
  padding: 10px 20px;
}

.nxf-product-details-bottom h3 {
  color: var(--nxf-color-font-secondary);
  font-size: 20px;
}

.nxf-product-details-bottom h4 {
  color: var(--nxf-color-font-primary);
  font-size: 12px;
}

.nxf-product-details-bottom p {
  color: var(--nxf-color-font-primary);
  font-size: 12px;
  margin: 10px 0;
}

.nxf-category-container {
    display: flex;
    flex-wrap: wrap;
}