#confirmation-section {
  padding: 20px 0;
}

.nxf-confirmation-message {
  font-size: 16px;
  font-weight: 700;
  color: var(--nxf-color-font-primary);
  text-align: center;
}

@media (min-width: 576px) {
  .nxf-confirmation-message {
    font-size: 24px;
    text-align: left;
  }
}
