@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --nxf-color-bg-primary: #121212;
  --nxf-color-bg-secondary: #1b1b1a;
  --nxf-color-bg-tertiary: #333333;
  --nxf-color-bg-quaternary: #0caf1d;

  --nxf-color-card-bg: #212222;
  --nxf-color-card-border: #2e2e2e;

  --nxf-color-btn-primary: #0a4ad8;
  --nxf-color-btn-text: #ffffff;

  --nxf-color-font-primary: #c7c7c7;
  --nxf-color-font-searchbar: #636363;
  --nxf-color-font-secondary: #04cf19;
  --nxf-color-font-tertiary: #b7b8b7;
  --nxf-color-font-placeholder: #b7b8b7;

  --nxf-color-error: #f33;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--nxf-color-bg-primary);
}

main {
  padding: 0 20px;
}

/*-----------------------------------------------------------------*/
/* generic styles */

.nxf-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.nxf-mb20 {
  margin-bottom: 20px;
}

.nxf-mt20 {
  margin-top: 20px;
}

.nxf-section-title {
  text-align: center;
  color: var(--nxf-color-font-primary);
  font-size: 16px;
}

.nxf-txt-left {
  text-align: left;
}

@media (min-width: 576px) {
  .nxf-section-title {
    text-align: left;
    font-size: 24px;
  }
}

/*-----------------------------------------------------------------*/
/* header styles */

header {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.nxf-header-admin {
  background-color: var(--nxf-color-bg-quaternary);
  color: var(--nxf-color-font-tertiary);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 16px;
}

nav a {
  font-size: 14px;
}

.nxf-navbar-right {
  display: flex;
  align-items: center;
}

.nxf-menu-items-container {
  display: flex;
}

.nxf-menu-items-container img {
  width: 20px;
  height: 20px;
}

.nxf-menu-item {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.nxf-menu-item p {
  display: none;
  margin-left: 5px;
  font-size: 14px;
}

.nxf-menu-item-active {
  font-weight: 700;
}

.nxf-logged-user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nxf-logged-user p {
  font-size: 12px;
}

.nxf-logged-user a {
  font-weight: 700;
}

@media (min-width: 576px) {
  nav h1 {
    font-size: 24px;
  }

  .nxf-menu-item p {
    display: unset;
  }
}

/*-----------------------------------------------------------------*/
/* card styles */

.nxf-card {
  border: 1px solid var(--nxf-color-card-border);
  border-radius: 4px;
  background-color: var(--nxf-color-card-bg);
}

.nxf-line-bottom {
  border-bottom: 1px solid var(--nxf-color-card-border);
}

/*-----------------------------------------------------------------*/
/* button styles */

.nxf-btn-page-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
}

@media (min-width: 576px) {
  .nxf-btn-page-container {
    width: 220px;
  }
}

.nxf-btn {
  width: 100%;
  height: 42px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*-----------------------------------------------------------------*/
/* form styles */

.nxf-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.nxf-form h2 {
  font-size: 16px;
  color: var(--nxf-color-font-primary);
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.nxf-form-controls-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  margin: 20px 0;
}

.nxf-form-control {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 20px;
  color: var(--nxf-color-font-primary);
  border-radius: 4px;
  border: 1px solid var(--nxf-color-card-border);
}

.nxf-form-control:focus {
  outline: none;
}

.nxf-form-control::placeholder {
  color: var(--nxf-color-font-placeholder);
}

.nxf-input-error {
  border: 1px solid var(--nxf-color-error);
}

.nxf-form-error {
  color: var(--nxf-color-error);
  font-size: 12px;
  padding-left: 4px;
}

.nxf-select:invalid {
  color: var(--nxf-color-font-placeholder);
}

.nxf-select option[disabled] {
  display: none;
}

.nxf-select option {
  color: var(--nxf-color-font-primary);
}

.nxf-textarea {
  resize: none;
  height: 128px;
  padding-top: 10px;
}

@media (min-width: 576px) {
  .nxf-form h2 {
    font-size: 24px;
  }
}

/*-----------------------------------------------------------------*/
/* table styles */

.nxf-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.nxf-table thead {
  height: 55px;
  font-size: 14px;
  color: var(--nxf-color-font-primary);
  background-color: var(--nxf-color-card-bg);
}

.nxf-table tbody {
  text-align: center;
  font-size: 12px;
  color: var(--nxf-color-font-primary);
  background-color: var(--nxf-color-card-bg);
}

.nxf-table tbody tr {
  height: 70px;
  border-top: 1px solid var(--nxf-color-card-border);
}

.nxf-table th:nth-child(2) {
  border-top-left-radius: 10px;
}

.nxf-table th:last-child {
  border-top-right-radius: 10px;
}

.nxf-table td:nth-child(2) {
  padding-left: 10px;
}

.nxf-table td:last-child {
  padding-right: 5px;
}

.nxf-tb576 {
  display: none;
}

.nxf-tb768 {
  display: none;
}

@media (min-width: 576px) {
  .nxf-tb576 {
    display: table-cell;
  }

  .nxf-table th:nth-child(1) {
    padding-left: 20px;
    border-top-left-radius: 10px;
  }

  .nxf-table th:nth-child(2) {
    border-top-left-radius: 0;
  }

  .nxf-table td:nth-child(1) {
    padding-left: 20px;
  }

  .nxf-table td:nth-child(2) {
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .nxf-tb768 {
    display: table-cell;
  }
}

@media (min-width: 992px) {
  .nxf-table tbody {
    font-size: 16px;
  }
}